{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/contextmenu.css' %}">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,500;1,700&family=Mulish:wght@500&display=swap');
        body {
            font-family: 'Mulish', sans-serif !important;
        }
        </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid gap-5">
    <a class="navbar-brand fs-3 fw-semibold" href="/">Licey2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if active == 'mainmenu' %}
          <li class="nav-item" style="background: rgb(110, 108, 108); padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="/performancetech">PerformanceTech</a>
        </li>
        {% else %}
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="/performancetech">PerformanceTech</a>
        </li>
        {% endif %}

        {% if active == 'createpage' %}
        <li class="nav-item" style="background: rgb(110, 108, 108); padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="create">Создать</a>
        </li>
        {% else %}
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="create">Создать</a>
        </li>
        {% endif %}

        {% if active == 'loadpage' %}
        <li class="nav-item" style="background: rgb(110, 108, 108); padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="load">Загрузить</a>
        </li>
        {% else %}  
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="load">Загрузить</a>
        </li>
        {% endif %}

        {% if active == 'notespage' %}
        <li class="nav-item" style="background: rgb(110, 108, 108); padding: 0px 20px"></li>
          <a class="nav-link fs-4 text-white" href="notes">Заметки</a>
        </li>
        {% else %}
        <li class="nav-item" style="padding: 0px 20px"></li>
          <a class="nav-link fs-4 text-white" href="notes">Заметки</a>
        </li>
        {% endif %}

        {% if active == 'historypage' %}
        <li class="nav-item" style="background: rgb(110, 108, 108); padding: 0px 20px"></li>
          <a class="nav-link fs-4 text-white" href="history">История</a>
        </li>
        {% else %}
        <li class="nav-item" style="padding: 0px 20px"></li>
          <a class="nav-link fs-4 text-white" href="history">История</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 100px">
    {% block content %}
    {% endblock %}
</div>
<div class="container">
  <hr>
  <h6>&copy; made by alisson</h6>
  <h6>&#10148; email: evgeniy.perov.05@mail.ru</h6>
</div>
</body>
</html>