{% extends 'performancetech/base.html' %}
{% load static %}
{% block title %}
<title>PerformanceTech</title>
{% endblock %}

{% block content %}
<div class="text-center" style="padding-top: 60px; padding-bottom: 130px">
    <p>
        <strong class="display-1">PerformanceTech</strong>
        <br>
        <small class="display-6" style="margin-left: 300px">&mdash; Удобства для звукооператора</small>
    </p>
    <hr>
</div>
<h1 class="display-4">Как пользоваться?</h1>
<p class="fs-4" style="padding-top: 30px">
    Пользователю предоставлен весь необходимый функционал для удобного хранения и передачи файлов при подготовке к мероприятиям.
    <br>
    На данной странице вы можете найти хранилище файлов. Вы можете быстро <a href="#backgrounds">перейти к нему</a>. При необходимости загрузить
    свои файлы в хранилище перейдите в раздел <a href="load">"Загрузить"</a>.
    <br>Если вам необходимо быстро подготовиться к <strong>выступлению</strong>, то в разделе <a href="create-performance">"Показ"</a> вы можете собрать HTML-страницу или презентацию
    для удобного показа фонов и запуска музыки.
    <br>Раздел <a href="notes">"Заметки"</a> предназначен для логирования и хранения рядом с звукооператором любой информации, которая может ему пригодиться.
    В этом разделе можно хранить сценарии, оставлять отчёты о проведенных мероприятиях, оставлять памятные заметки и многое другое.
    <br>В разделе <a href='history'>"История"</a> вы можете ознакомиться с датами загрузки файлов и создания заметок пользователями.
</p>
<h1 class="display-4" style="padding-top: 60px" id="backgrounds">Фоны</h1>
<hr>
<h3 style="padding-bottom: 60px">Для сохранения нажмите на картинку</h3>
{% if oneColor_images %}
<h5>Однотонные</h5>
<div class="row">
    {% for oneColor_image in oneColor_images %}
    <div class="col-4 context-area-default-{{oneColor_image.image_id}} mb-3" onclick="window.open('{{oneColor_image.path}}')">
        <figure class="figure border border-secondary" style="display: block; border-radius: 6px;">
            <svg class='visually-hidden' id="tick-{{oneColor_image.image_id}}" style="position: absolute; margin-left:160px; margin-top: 240px; height: 100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"/></svg>
            <img src='{{oneColor_image.path}}' class="figure-img img-fluid rounded" alt="{{ oneColor_image.name }}">
        <figcaption class="figure-caption text-center" style="overflow-x:scroll">{{ oneColor_image.name }}</figcaption>
        </figure>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if loaded_sections %}
<h5 style="padding-top: 30px; cursor: pointer" onclick="window.location = 'load'">Загруженные</h5>
{% for loaded_section in loaded_sections %}
{% if loaded_section.images|length > 0 %}
<h5 style="padding-top: 30px"><strong>{{loaded_section.name}} ({{loaded_section.files_count}})</strong></h5>
<div class="row border border-secondary" style="padding-top: 14px">
    {% for image in loaded_section.images %}
    <div class="col-4 context-area-loadedimg-{{image.image_id}} mb-3" onclick="window.open('{{image.path}}')">
        <figure class="figure border border-secondary" style="display: block; border-radius: 6px;">
            <svg class="visually-hidden" id="tick-{{image.image_id}}" style="position: absolute; margin-left:160px; margin-top: 240px; height: 100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"/></svg>
            <img src='{{image.path}}' class="figure-img img-fluid rounded" alt="{{ image.name }}">
        <figcaption class="figure-caption text-center" style="overflow-x:scroll">{{ image.name }}</figcaption>
        </figure>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if loaded_audio_sections %}
<h1 class="display-4" style="padding-top: 100px" id="backgrounds">Аудио</h1>
<hr>
<h5 style="cursor: pointer" onclick="window.location = 'load'">Загруженное</h5>
{% for loaded_audio_section in loaded_audio_sections %}
{% if loaded_audio_section.audio|length > 0 %}
<h5 style="padding-top: 30px"><strong>{{loaded_audio_section.name}} ({{loaded_audio_section.files_count}})</strong></h5>   
    <div class="row border border-secondary">
    {% for audio in loaded_audio_section.audio %}
    <div class="col-3 context-area-loadedaudio-{{audio.audio_id}}" style="padding-top: 20px; overflow-x:scroll">
        <p>{{audio.name}}</p>
        <audio controls preload src="{{audio.path}}">Браузер не поддерживает проигрывание аудио.</audio>
    </div>
    {% endfor %}
    </div>
{% endif %}    

{% endfor %}
{% endif %}
<ul class="menu-1 right-click-menu bg-white text-black border border-black">
    <li id="li-choose-i">Выбрать</li>
    <li id="d-l1">Загружен: Автоматически</li>
</ul>
<ul class="menu-2 right-click-menu bg-white text-black border border-black">
    <li id="li-choose-i">Выбрать</li>
    <li id="li-l1">Загружен</li>
    <li id="li-l2">Удалить</li>
</ul>
<ul class="menu-3 right-click-menu bg-white text-black border border-black">
    <li id="li-choose-a">Выбрать</li>
    <li id="la-l1">Загружен</li>
    <li id="la-l2">Удалить</li>
</ul>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1000">
    <div id="message" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
          <svg height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM371.8 211.8C382.7 200.9 382.7 183.1 371.8 172.2C360.9 161.3 343.1 161.3 332.2 172.2L224 280.4L179.8 236.2C168.9 225.3 151.1 225.3 140.2 236.2C129.3 247.1 129.3 264.9 140.2 275.8L204.2 339.8C215.1 350.7 232.9 350.7 243.8 339.8L371.8 211.8z"/></svg>
        <strong class="me-auto" style="padding-left: 6px">Уведомление</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
      </div>
      <div class="toast-body">
        <h6 id="msg-body">Текст уведомления</h6>
      </div>
    </div>
  </div>
{% csrf_token %}
<div class="fixed-bottom" style="transform: translateX(40px) translateY(-30px); cursor:pointer; user-select: none">
    <form method="POST" action="{% url 'cancel-selecting' %}">
        {% csrf_token %}
        <button type="submit" style="border:none">
            <a class="visually-hidden text-decoration-none text-black" id="cancel-selecting">Отменить выделение</a>
        </button>    
    </form> 
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    'use strict';
    function show_obj(obj) {
        obj.classList.remove('visually-hidden');
    };
    function hide_obj(obj) {
        obj.classList.add('visually-hidden');
    };
    function notice(text) {
        const new_msg = new bootstrap.Toast(msg);
        const msg_body = document.getElementById('msg-body');
        msg_body.innerHTML = text;
        new_msg.show();
    };
    function ajaxPost(url_name, data, success_action) {
        if(url_name==='file-info') {var url="{% url 'file-info' %}"}
        else if(url_name==='delete-file') {var url="{% url 'delete-file' %}"}
        else if(url_name==='choose-file') {var url="{% url 'choose-file' %}"}
        else if(url_name==='selected-files') {var url="{% url 'selected-files' %}"}
        $.ajax({
                  url: url,
                  type: 'post',
                  data: data,
                  // если успешно, то
                  success: function(response) {success_action(response)},
                  // если ошибка, то
                  error: function() {
                      // предупредим об ошибке
                      console.log('Ошибка ajax запроса');
                  }
                });
    };
    const menuAreas = document.querySelectorAll("[class*=context-area-]");
    const all_displays = document.querySelectorAll("[class*=menu-]");
    const context_option_choose = document.querySelectorAll("[id*=li-choose]");
    const ticks = document.querySelectorAll("[id*=tick-]")
    var menu = all_displays[0];
    const first_btn_default = document.getElementById('d-l1');


    const cancel_selecting_btn = document.getElementById('cancel-selecting');

    const msg = document.getElementById('message');

    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    var file_info = '';
    var file_id = -1;  // значение по умолчанию

    const first_btn_loadimg = document.getElementById('li-l1');
    const second_btn_loadimg = document.getElementById('li-l2');


    const first_btn_loadaudio = document.getElementById('la-l1');
    const second_btn_loadaudio = document.getElementById('la-l2');


    ajaxPost('selected-files', {csrfmiddlewaretoken: csrf_token}, (response)=>{
        let files = response.files;
        if(files.length > 0) {
            cancel_selecting_btn.classList.remove('visually-hidden');
        for(let i=0; i<files.length; i++) {
                let id = files[i].id;
                for(let b=0; b<menuAreas.length; b++) {
                if(menuAreas[b].classList[1].split('-')[3] === id) {
                    menuAreas[b].style.border = 'thick solid #8ec127';
                    if(!(menuAreas[b].classList[1].split('-')[2]==='loadedaudio')) {
                    show_obj(document.querySelector(`[id*=tick-${id}]`));
                    break;
                };
                };
                };
            };
        };
    }); // получить все выделенные файлы

    menuAreas.forEach(function(menuArea) {
        menuArea.addEventListener( "contextmenu", event => {
            event.preventDefault();
            if(menuArea.classList[1].split('-')[2] === 'default') {
                file_id = menuArea.classList[1].split('-')[3];
                menu = all_displays[0];
                menu.style.top = `${event.clientY}px`;
                menu.style.left = `${event.clientX}px`;
                menu.classList.add("active");
                let url_name = 'file-info';
                let data = {
                    type: 'images',
                    id: file_id,
                    csrfmiddlewaretoken: csrf_token
                };
                ajaxPost(url_name,data,(response)=>{
                      file_info = response;
                  });
            }
            else if(menuArea.classList[1].split('-')[2] === 'loadedimg') {
                menu = all_displays[1];
                file_id = menuArea.classList[1].split('-')[3];
                menu.style.top = `${event.clientY}px`;
                menu.style.left = `${event.clientX}px`;
                menu.classList.add("active");
                let url_name = 'file-info';
                let data = {
                    type: 'images',
                    id: file_id,
                    csrfmiddlewaretoken: csrf_token
                };
                ajaxPost(url_name,data,(response)=>{
                      file_info = response;
                      let load_date = file_info['load_date'];
                      let load_time = file_info['load_time'];
                      first_btn_loadimg.innerHTML = `Загружен: ${load_date} в ${load_time}`;
                  });
            }
            else if(menuArea.classList[1].split('-')[2] === 'loadedaudio'){
                menu = all_displays[2];
                file_id = menuArea.classList[1].split('-')[3];
                menu.style.top = `${event.clientY}px`;
                menu.style.left = `${event.clientX}px`;
                menu.style.zIndex = 100000;
                menu.classList.add("active");
                let url_name = 'file-info';
                let data = {
                    type: 'audio',
                    id: file_id,
                    csrfmiddlewaretoken: csrf_token
                };
                ajaxPost(url_name,data,(response)=>{
                      file_info = response;
                      let load_date = file_info['load_date'];
                      let load_time = file_info['load_time'];
                      first_btn_loadaudio.innerHTML = `Загружено: ${load_date} в ${load_time}`;
                  });
            };
        }, false)
    });
    document.addEventListener("click", event => {
        if (event.button !== 2) {
            menu.classList.remove("active");
        }
    }, false);
    

    document.querySelector("#li-l1").addEventListener("click", () => {
        alert(`Путь к файлу: ${file_info['path']}`);
    }, false);
    document.querySelector("#li-l2").addEventListener("click", () => {
        // Удаление фото
        let url = 'delete-file';
        let data = {
            id: file_id,
            path: file_info['path'],
            csrfmiddlewaretoken: csrf_token
        };
        ajaxPost(url,data,(response)=>{location.reload()});
    }, false);

    context_option_choose.forEach(function(choose_btn) {
        choose_btn.addEventListener("click", event => {
            event.preventDefault();
        let file_type = '';
        if (choose_btn.id.split('-')[2]==='i') {
            file_type = 'images';
        } else {
            file_type = 'audio';
        };
        // Добавить файл в выбранное
        let url = 'choose-file';
        let data = {
            id: file_id,
            path: file_info['path'],
            name: file_info['name'],
            type: file_type,
            csrfmiddlewaretoken: csrf_token
        };
        ajaxPost(url,data,(response)=>{
            if (response.action === 'select') {
                // При выборе файла
            notice(`Файл ${file_info['name']} был выбран`);
            cancel_selecting_btn.classList.remove('visually-hidden');
            for(let i=0; i<menuAreas.length; i++) {
                if(menuAreas[i].classList[1].split('-')[3] === file_id) {
                    menuAreas[i].style.border = 'thick solid #8ec127';
                    break;
                };
            };
            show_obj(document.querySelector(`[id*=tick-${file_id}]`));
            } else {
                // При повторном выборе файла (отмена выбора)
                notice(`Отмена выбора файла ${file_info['name']}`);
                ajaxPost('selected-files', {csrfmiddlewaretoken: csrf_token}, (response)=>{
                    let files = response.files;
                    if(files.length==0) {
                        cancel_selecting_btn.classList.add('visually-hidden');
                    };
                });
                for(let i=0; i<menuAreas.length; i++) {
                if(menuAreas[i].classList[1].split('-')[3] === response.id) {
                    menuAreas[i].style.border = '';
                    break;
                };
            };
            hide_obj(document.querySelector(`[id*=tick-${response.id}]`));
            };
        });
    }, false);
    });


    document.querySelector("#la-l1").addEventListener("click", () => {
        alert(`Путь к файлу: ${file_info['path']}`);
    }, false);

    document.querySelector("#la-l2").addEventListener("click", () => {
        // Удаление аудио
        let url = 'delete-file';
        let data = {
            id: file_id,
            path: file_info['path'],
            csrfmiddlewaretoken: csrf_token
        };
        ajaxPost(url,data,(response)=>{location.reload()});
    }, false);


</script>
{% endblock %}