{% extends 'base.html' %}
{% block title %}
<title>PyTPretator</title>
{% endblock %}
{% block content %}
<div class="container" style="padding: 60px">
<div class="d-flex align-items-center visually-hidden" id="loading-label">
  <strong style="color: white">Проверка кода...</strong>
  <div class="spinner-border text-light ms-auto" role="status" aria-hidden="true"></div>
</div>
{% if with_error %}
<div class="alert alert-danger" role="alert" style="overflow-x: scroll">
  <p>
    Ошибка: <br>
    {{ code_result}}
  </p>
</div>
{% elif with_error == False %}
<div class="alert alert-success" role="alert" style="overflow-x: scroll">
  <p>
    Результат работы кода: <br> 
    {% for code_line in code_result %}
      {{ code_line }}
      <br>
    {% endfor %}
  </p>
</div>
{% endif %}
<form method="post">
{% csrf_token %}
<div class="mb-3">
    <label for="code-editor" class="form-label fs-1 text-white">CODE EDITOR</label>
    <textarea name="code_editor" class="form-control bg-black text-white fs-3" style="white-space: nowrap; font-family: 'Courier New', Courier, monospace; font-size: 14px" id="code-editor" rows="16" onkeydown=if(event.keyCode==9){this.value+=String.fromCharCode(9);return!1}
  onkeypress=if(event.keyCode==9)return!1></textarea>
</div>
<div class="d-grid" style="padding-bottom: 12px">
  <button class="btn btn-success" type="submit" id="check-btn">Проверить код</button>
</div>
{% if last_code and finish_variables %}
<div class="d-grid" style="padding-bottom: 60px">
  <button class="btn btn-warning" type="button" id="analiz-btn" data-bs-toggle="offcanvas" data-bs-target="#analizCanvas" aria-controls="analizCanvas">Анализ кода</button>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="analizCanvas" aria-labelledby="analizCanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="analizCanvasLabel">Анализ кода</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
  </div>
  <div class="offcanvas-body">
    <p>
      <h3>Конечные значения переменных:</h3>
      <br>
      {% for finish_variable in finish_variables %}
      <h3><code>({{ finish_variable.format }}) {{ finish_variable.variable }}</code> = <code>{{finish_variable.value}}</code></h3>
      <br>
      {% endfor %}
    </p>
  </div>
</div>
{% endif %}
</form>
    <!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Что такое интерпретатор?
</button>
<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Что такое интерпретатор?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body text-black">
    <p>
    <h5>
        Интерпретатор - это компьютерная программа, которая преобразует каждый программный оператор высокого уровня в машинный код.
    </h5>
    <br>
    <h5>Прежде чем приступать к написанию кода, предлагаю ознакомиться с вкладками: Справочник, Примеры.</h5>
    <h5>По любым вопросам вы можете обратиться в личные сообщения (ссылка в футере страницы или во вкладке Обратная связь).</h5>
    </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Понял</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
  Ограничения данного редактора
</button>
<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel2">Ограничения</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body text-black">
    <p>
    <h5>Данный редактор создан для практики базовых знаний о языке программирования. В связи с этим вы можете использовать лишь несколько стандартных Python-библиотек: Math, Random, Datetime.</h5>
        <br>
        <h5>Однако для практики подобных модулей будет достаточно. Разберитесь сначала с ними.</h5>
        <br>
    <h5>Если вы планируете связать своё будущее с изучением программирования и думаете, что подобные задачи - бессмысленная трата времени, то вы очень сильно ошибаетесь</h5>
        <br>
    <h5>Базовые знания языка программирования требуются для устройства на любую позицию программиста в IT. Пусть вы умеете хорошо работать с веб-фреймворком, но плохо знаете базовые возможности языка, то тогда ваши шансы на получение должности значительно снижаются.</h5>
      
        <br><br>
        <h3 style="color:#c00937">Цикл While</h3>
        <h5 class="text-decoration-line-through">Временно недоступен.</h5>
        <br>
        <h5>Цикл while доступен для вашего использования в данном редакторе. Ограничение накладывается лишь на использование бесконечного цикла.
        </h5>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Понял</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
  Особенности
</button>
<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel3">Особенности данного редактора</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body text-black">
    <p>
        <h3 style="color: #d03e87">Пользовательский ввод</h3>
        <h5>Если в вашем коде присутствует пользовательский ввод значений (функция input), то после нажатия на кнопку "Проверить код" вы переместитесь на другую вкладку, в которой увидите указанные вами поля ввода.
        <span style="font-weight: bolder">Запомните:</span> в Python значения, введенные в функцию input, являются строками (String)!<br>
        После заполнения формы нажмите кнопку "Продолжить", тогда вы вернетесь в код, в который автоматически подставятся указанные вами значения. Около значений будут соответствующие комментарии<br>
        К сожалению, а может быть и к счастью, в предложенном компиляторе это реализовано именно так. Однако, вы можете наглядно увидеть
          как работает функция input.
          <br>
        


        </h5>
    </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Понял</button>
      </div>
    </div>
  </div>
</div>
</div>

{% if last_code %}
<script>
  'use strict';
  function show_object(obj) {
    obj.classList.remove('visually-hidden');
  };
  function hide_object(obj) {
    obj.classList.add('visually-hidden');
  };
  function replaceAll(string, search, replace) {
    return string.split(search).join(replace);
  }
  const code_edit_field = document.getElementById('code-editor');
  let code = `{{ last_code }}`;
  code = replaceAll(code, "&#x27;", "'");
  code = replaceAll(code, "&gt;", ">");
  code = replaceAll(code, '&quot;', '"');
  code = replaceAll(code, '&amp;', '&');
  code = replaceAll(code, '&lt;', '<');
  code_edit_field.value = code;


  const check_btn = document.getElementById('check-btn');
  const loading_label = document.getElementById('loading-label');
  check_btn.onclick = function() {
    show_object(loading_label);
  };
    
</script>
{% endif %}

{% endblock %}