{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,500;1,700&family=Mulish:wght@500&display=swap');
        body {
            font-family: 'Mulish', sans-serif !important;
        }
    </style>
</head>
<body class="bg-black">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid gap-5">
    <a class="navbar-brand fs-3 fw-semibold" href="/">Licey2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" aria-current="page" href="/code-editor">Редактор</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" href="/manual">Справочник</a>
        </li>
         <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" href="#">Примеры</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link fs-4 text-white" href="/contacts">Обратная связь</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block content %}
    {% endblock %}
<div class="container" style="color: white">
    <hr>
    <h6>&copy; made by alisson</h6>
    <h6>&#10148; email: evgeniy.perov.05@mail.ru</h6>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>