{% extends 'base.html' %}
{% block title %}
<title>Примеры</title>
{% endblock %}
{% block content %}
<div class="container text-white" style="padding-top: 60px">
    <h3>Установка интерпретатора Python</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6W5HamaARk8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3 style="padding-top: 60px">Поиск видеоразбора</h3>
    <form method="post">
        {% csrf_token %}
        <div class="row g-0">
            <div class="col-11">
                <input class="form-control" list="getLessonlistOptions" name="lesson_name" placeholder="Введите тему для поиска...">
            </div>
            <div class="col-1" style="transform: translate(-10px,0)">
                <button id="find-lesson-btn" type="submit" class="btn btn-success" style="border-radius:0">Найти</button>
            </div>
        </div>
        <datalist id="getLessonlistOptions">
        {% for video in videos %}
            {% ifchanged video.lesson.block_name %}
            <option value="{{ video.lesson.block_name }}">
            {% endifchanged %}
        {% endfor %}
        </datalist>
    </form>
    <ul style="padding-top: 60px">
        {% for video in videos %}
        {% ifchanged video.lesson.section.name %}
        <h3>{{ video.lesson.section.name }}</h3>
        {% endifchanged %}
        <li><a href="{{ video.link }}" target="_blank">{{ video.lesson.block_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
