{% extends 'base.html' %}
{% block title %}
<title>Python | Справочник</title>
{% endblock %}
{% block content %}
<div class="container" style="color: white">
<h1 class="display-3" style="padding: 80px">Справочные материалы<br>Python</h1>
{% for info_block in info_blocks %}
{% ifchanged info_block.section.name %}
<h1 class="display-6 text-start">
    {{ info_block.section.name }}
</h1>
<div class="accordion" style="padding-bottom: 30px">
{% endifchanged %}
  <div class="accordion-item bg-dark text-white">
    <h2 class="accordion-header" id="heading-{{ info_block.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ info_block.id }}" aria-expanded="false" aria-controls="collapse-{{ info_block.id }}">
          {{ info_block.block_name }}
      </button>
    </h2>
    <div id="collapse-{{ info_block.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ info_block.id }}" data-bs-parent="#about-{{ info_block.id }}">
      <div class="accordion-body">
        {{ info_block.text|safe }}
      </div>
    </div>
  </div>
{% ifchanged info_blocks.forloop.counter1.section.name %}
{% if not forloop.first %}
  </div>
{% endif %}
{% endifchanged %}
{% endfor %}
</div>
{% endblock %}
